:root {
  --lm-bg: #ffffff;
  --lm-scroll: #d9d9d9;
  --lm-scroll-hover: #bbbbbb;
  scrollbar-color: var(--lm-scrollbar) var(--lm-bg);
}

html.dark {
  --lm-bg: #212121;
  --lm-scroll: #333333;
  --lm-scroll-hover: #555555;
}

html,
body {
  height: 100%;
  overflow: auto;
  font-family: 'Varela Round', sans-serif;
  background-color: var(--lm-bg);
}

#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lm-scroll);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--lm-scroll-hover);
}

::-webkit-scrollbar-track {
  background-color: var(--lm-bg);
}

::selection {
  background: #333;
  color: #fff;
}

::-moz-selection {
  background: #333;
  color: #fff;
}

::-webkit-selection {
  background: #333;
  color: #fff;
}
